---
layout: default
---

{% include headerWithLogoAndMenu.html %}

<div class="slashHeader">
  <div class="slashHeader__bg relative absolute-ns w-100 top-0">
    <img class="w-100 ml5" src="/assets/images/slashHeader_bg.png" />
  </div>
  <div class="container">
    <div class="slashHeader__content w-100 mt6 mt0-ns w-60-ns mt7-ns">
      <h1 class="f1">Exploring the future of work</h1>
      <p class="lead">Rainmaking explores ideas through our events hosted at our spaces around the world. We invite you to come along to our next get together as we open up conversations around big, bold ideas within business.</p>
    </div>
  </div>
</div>

<div class="posts cf pt6">
  <div class="post mb3">
    <div class="post__img w-100 w-60-l relative absolute-l z-1">
      <img src="http://placehold.it/600x400"/>
    </div>
    <div class="post__content relative w-90 w-50-l mh3 ml0-l mr5-l fr-l z-2">
      <div class="pa4">
        <a href="" class="f2 post__title link"><u>Innovation Masterclass with Alex Osterwalder - Build Better Business Models</u></a>
        <div class="caps-small-f mt2">THURSDAY 14 DECEMBER 2016</div>
        <p class="mb0 mt0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac enim condimentum, sagittis ipsum sed, gravida feli. Onec ac enim condimentum, sagittis ipsum sed, gravida felis…</p>
      </div>
      <div class="slash-horz-left"></div>
    </div>
  </div>

  <div class="post mb3">
    <div class="post__img w-100 w-60-l relative absolute-l z-1">
      <img src="http://placehold.it/600x400"/>
    </div>
    <div class="post__content relative w-90 w-50-l mh3 ml0-l mr5-l fr-l z-2">
      <div class="pa4">
        <a href="" class="f2 post__title"><u>Innovation Masterclass with Alex Osterwalder - Build Better Business Models</u></a>
        <div class="caps-small-f mt2">THURSDAY 14 DECEMBER 2016</div>
        <p class="mb0 mt0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac enim condimentum, sagittis ipsum sed, gravida feli. Onec ac enim condimentum, sagittis ipsum sed, gravida felis…</p>
      </div>
      <div class="slash-horz-left"></div>
    </div>
  </div>

  <div class="container">
    <div class="newsletter tc pv6">
      <div class="f1 mb0">Don't miss out</div>
      <p class="lead mt0 w-40-l center">Sign up to our newsletter and we’ll let you know when a Rainmaking event pops up in your city!</p>
      <form>
      <input type="text" class="input-reset">
      <button class="btn btn-small ml2">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="caps-small-f tc mv5">Previous Events</h2>

  <div class="w-100 w-50-ns fl pa2 mb2">
    <div class="">
      <img class="w-100" src="http://placehold.it/600x300"/>
    </div>
    <a href="" class="f2 link">Innovation Masterclass with Alex Osterwalder - Build Better Business Models</a>
    <div class="caps-small-f mt0">THURSDAY 14 DECEMBER 2016</div>
  </div>
  <div class="w-100 w-50-ns fl pa2 mb2">
    <div class="">
      <img class="w-100" src="http://placehold.it/600x300"/>
    </div>
    <a href="" class="f2 link">Innovation Masterclass with Alex Osterwalder - Build Better Business Models</a>
    <div class="caps-small-f mt0">THURSDAY 14 DECEMBER 2016</div>
  </div>
  <div class="w-100 w-50-ns fl pa2 mb2">
    <div class="">
      <img class="w-100" src="http://placehold.it/600x300"/>
    </div>
    <a href="" class="f2 link">Innovation Masterclass with Alex Osterwalder - Build Better Business Models</a>
    <div class="caps-small-f mt0">THURSDAY 14 DECEMBER 2016</div>
  </div>
  <div class="w-100 w-50-ns fl pa2 mb2">
    <div class="">
      <img class="w-100" src="http://placehold.it/600x300"/>
    </div>
    <a href="" class="f2 link">Innovation Masterclass with Alex Osterwalder - Build Better Business Models</a>
    <div class="caps-small-f mt0">THURSDAY 14 DECEMBER 2016</div>
  </div>
</div>

{% include footer.html %}
