---
layout: default
---

{% include menu.html %}

{% include home_intro.html %}

<div class="partnershipQuote partnershipQuote-left container cf">
  <div class="partnershipQuote__img">
    <img src="assets/images/partnership_1.png" rjs="3">
  </div>
  <div class="partnershipQuote__img__border"></div>
  <div class="partnershipQuote__content">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu</p>
    <p class="mb0">Sumgui Sumname</p>
    <p class="mt0 caps-xsmall-f">Some Job Titles</p>
  </div>
</div>

<div class="partnershipQuote partnershipQuote-right container cf">
  <div class="partnershipQuote__img">
    <img src="assets/images/partnership_1.png" rjs="3">
    <div class="partnershipQuote__img__bg"></div>
  </div>
  <div class="partnershipQuote__img__border"></div>
  <div class="partnershipQuote__content">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu</p>
    <p class="mb0">Sumgui Sumname</p>
    <p class="mt0 caps-xsmall-f">Some Job Titles</p>
  </div>
</div>

{% include footer.html %}

<script src="js/main.js"></script>
