---
layout: default
---

{% include home_intro.html %}

<div class="container">

  <div class="partnershipQuote partnershipQuote-left cf">
    <div class="partnershipQuote__img">
      <img src="assets/images/partnership_1.png" rjs="3">
      <div class="partnershipQuote__gradient"></div>
    </div>
    <div class="partnershipQuote__img__border"></div>
    <h1 class="f1 absolute z-5">Only one definition of <br/>innovation matters. <br/><br/> Yours.</h1>
    <div class="partnershipQuote__content">
      <p class="lead speechmarks">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu</p>
      <p class="mb0">Sumgui Sumname</p>
      <p class="mt0 caps-xsmall-f">Some Job Titles</p>
    </div>
  </div>

  <div class="partnershipQuote partnershipQuote-right cf">
    <div class="partnershipQuote__img">
      <img src="assets/images/partnership_1.png" rjs="3">
      <div class="partnershipQuote__img__bg"></div>
      <div class="partnershipQuote__gradient"></div>
    </div>
    <div class="partnershipQuote__img__border"></div>
    <div class="partnershipQuote__content">
      <p class="lead speechmarks">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu</p>
      <p class="mb0">Sumgui Sumname</p>
      <p class="mt0 caps-xsmall-f">Some Job Titles</p>
    </div>
  </div>

  <div class="partnershipQuote partnershipQuote-left cf">
    <div class="partnershipQuote__img">
      <img src="assets/images/partnership_1.png" rjs="3">
      <div class="partnershipQuote__gradient"></div>
    </div>
    <div class="partnershipQuote__img__border"></div>
    <div class="partnershipQuote__content">
      <p class="lead speechmarks">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu</p>
      <p class="mb0">Sumgui Sumname</p>
      <p class="mt0 caps-xsmall-f">Some Job Titles</p>
    </div>
  </div>
</div>

<div class="container cf relative tc">
  <p class="lead speechmarks tc w-60-ns center relative mt6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu</p>
  <p class="mb0 tc">Sumgui Sumname</p>
  <p class="mt0 tc caps-xsmall-f">Some Job Titles</p>
  <div class="cf db">
    <img src="assets/images/partnership_1.png" class="db center mb0 pb0" width="300" />
  </div>
  <!-- <div class="slash slash-horz w-80-ns center"></div> -->
  <a href="" class="btn cf db w-25-ns">Read More</a>

</div>

<div class="tc homeoutro">
  <h2 class="f1 pt6">Ready to talk about what innovation will mean for you?</h2>
</div>

{% include footer.html %}
