<div class="footer w-100 flex justify-center items-center pl2-m pr2-m pt6 pb6">
  <div class="tc w-40-ns">
      <div>
        <img src="assets/images/logo_black.svg" />
      </div>

      <div class="w-50 tc fl pt5">
        <div class="caps-small-f">Berlin</div>
        <div class="text-small">123 Tower Bridge EC1 F3F</div>
        <div class="text-small">berlin@rainmaking.io</div>
      </div>
      <div class="w-50 tc fl pt5">
        <div class="caps-small-f">London</div>
        <div class="text-small">123 Tower Bridge EC1 F3F</div>
        <div class="text-small">berlin@rainmaking.io</div>
      </div>
      <div class="w-50 tc fl pt5">
        <div class="caps-small-f">Singapore</div>
        <div class="text-small">123 Tower Bridge EC1 F3F</div>
        <div class="text-small">berlin@rainmaking.io</div>
      </div>
      <div class="w-50 tc fl pt5">
        <div class="caps-small-f">Copenhagen</div>
        <div class="text-small ">123 Tower Bridge EC1 F3F</div>
        <div class="text-small">berlin@rainmaking.io</div>
      </div>
    </div>
</div>
