<div class="pillarbox pillarbox-accelerators">
  <div class="pbc__bg pbc-accelerators__bg">
    <img src="assets/images/pillar_accelerator_bg.jpg" />
  </div>
  <div class="pbc__text w-40-ns">
    <p>
      Startupbootcamp started in 2010 and now operates globally with 13 industry focused startup accelerators. We help startups scale globally by giving them direct access to an international network of the most relevant partners, investors and mentors in their sector.
    </p>
    <img src="assets/images/sbc_logo.png" rjs="3" />
  </div>
</div>

<div class="pillarbox pillarbox-spaces">
  <div class="pbc__bg pbc-spaces__bg">
    <img src="assets/images/pillar_spaces_bg@3x.png" rjs="3" />
  </div>
  <div class="pbc__text w-40-ns">
    <p>
      Over the last ten years, we’ve created a global community of startups,
      bringing entrepreneurs, investors and corporate partners together. Our coworking spaces in Berlin, Copenhagen and London are now home to over 1,000 people – and there’s always room for new arrivals.     </p>
  </div>
</div>

<div class="pillarbox pillarbox-events">
  <div class="pbc__bg pbc-events__bg">
    <img src="assets/images/pillar_events_bg.png" />
  </div>
  <div class="pbc__text w-40-ns">
    <p>
      Expect hackathons, lively debates, new ideas and networking events with industry and government figures. In our co-working spaces around the world, we run a regular events on a variety of subjects, from fintech to cyber security, startup to corporate.
  </p>
  </div>
</div>

<div class="pillarbox pillarbox-companies">
  <div class="pbc__bg pbc-companies__bg">
    <img src="assets/images/pillar_companies_bg.png" rjs="3" />
  </div>
  <div class="pbc__text w-40-ns">
    <p>
      Creating companies and bringing them to market is our first love. Together, we’ve built over 25 of our own companies, achieved 5 notable exits and led more than 300 investments. Here are just a few of our success stories.
    </p>
  </div>
</div>

<div class="cf">
  <div class="ph3 ph5-ns mt6-ns">
    <div class="w-40-ns w-100 fl-ns">
      <a href="/">
        <img class="mr5-ns fr-ns" src="assets/images/logo_black.svg" />
      </a>
    </div>
    <div class="w-60-ns fl-ns">
      <div class="caps-small-f mt4 mb3 intro-logo">Rainmaking Builds</div>
      <div class="mb5">
        <div data-type="accelerators" class="pillar f1 mb2">Accelerators</div>
        <div data-type="events" class="pillar f1 mb2">Events</div>
        <div data-type="spaces" class="pillar f1 mb2">Spaces</div>
        <div data-type="companies" class="pillar f1 mb2">Companies</div>
        <div data-type="partnerships" class="pillar f1 mb2">Partnerships</div>
      </div>

      <div>
        <h1 class="f2">We help you discover your definition of innovation</div>
          <p>
            Innovation defies definition. It’s as unique, complex and thrilling as every business we’ve ever worked with. If years of experience have taught us one thing, it’s this: the best definition of innovation is to find your own.
          </p>
            We can help you do that. Collaboratively and confidently. No bluster, no buzzwords. Just plain English.
          <p>
            And we’ll make sure it happens. We love results, not presentations. Actions not words.
          </p>
          <p>
            Just see for yourself.
          </p>
      </div>
    </div>
  </div>
</div>
