.minipageContainer {
  position: absolute;
  right: 3000px;
  top: 0;
  z-index: 9;
  background: #fff;
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -ms-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
}

.minipageContainer.active {
  right: 0;
}
