.posts {
  width: 100%;
  max-width: 1600px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f0f1f3+100 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(240,241,243,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(240,241,243,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(240,241,243,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f1f3',GradientType=0 ); /* IE6-9 */

}

.post {
  min-height: 300px;
  margin-bottom: 40px;
}

.post__img {
  height: 300px;
  overflow: hidden;
}

@media (--breakpoint-large) {
  .post__img {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 70% 300px, 0% 300px);
    clip-path:  polygon(0% 0%, 100% 0%, 70% 300px, 0% 300px);
  }
}

.post__img img {
  width: 100%;
}

.post__title {
  text-decoration: none;
  color: var(--rm-text);
}

.post__title u {
  text-decoration: none;
  border-bottom: 1px solid var(--rm-blue);;
}

.post__content {
  margin-top: -140px;
  background: #fff;
}

.articleEventCta {
  margin-top: -110px;
  position: relative;
  z-index: 2;
}

.articleEventCta {
  z-index: 2;
  position: relative;
}

@media (--breakpoint-large) {
  .post__content {
    margin-top: 20px;
  }
}

@media (--breakpoint-medium) {
  .articleContent {
    margin-top: -280px;
  }
  .articleEventCta {
    margin-top: -280px;
  }
  .articleAuthor {
    margin-top: -160px;
  }
}

@media (--breakpoint-large) {
  .articleContent {
    margin-top: -110px;
  }

  .articleAuthor {
    margin-top: -180px;
  }
  .articleEventCta {
    margin-top: -170px;
    z-index: 2;
    position: relative;
  }
}

@media (--breakpoint-not-small) {
  .articleInlineAuthor {
    display: none;
  }
}
