.slashHeader__bg {
  height: 600px;
  overflow: hidden;
  display: none;
}

@media (--breakpoint-not-small) {
  .slashHeader__bg {
    display: block;
  }
}

@media (--breakpoint-medium) {
  .slashHeader__bg {
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 500px, 20% 0);
    clip-path: polygon(0 0%, 100% 0%, 100% 500px, 20% 0);
  }
}


@media (--breakpoint-large) {
  .slashHeader__bg {
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 600px, 20% 0);
    clip-path: polygon(0 0%, 100% 0%, 100% 600px, 20% 0);
  }
}


.slashHeader-post .slashHeader__bg {
  display: block;
  height: auto;
}

@media (--breakpoint-large) {
  .slashHeader-post .slashHeader__bg {
    height: 600px;
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 600px, 0% 340px);
    clip-path: polygon(0 0%, 100% 0%, 100% 600px, 0% 340px);
  }
}
