.container {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (--breakpoint-large) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
