body {
  font-size: 13px;
  font-weight: 300;
  color: var(--near-black);
  line-height: 23px;
}

.caps-small-f {
  font-size: 13px;
  font-family: var(--futura-font-family);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.f1, .f2, .f3, .f4 {
  font-family: var(--graphik-font-family);
}

.f1 {
  font-weight: 100;
  line-height: 2.2rem;
}

.f2 {
  line-height: 2rem;
  font-weight: 200;
}

.text-small {
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 16px;
}
