@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturCEMed.eot');
 }
@font-face {
  font-family: 'Futura';
  src: url('../assets/fonts/FuturCEMed.woff') format('woff'),
  url('../assets/fonts/FuturCEMed.svg#FuturaCE-Medium') format('svg');
 }

@font-face {
 font-family: 'Graphik';
 font-weight: 400;
 src: url('../assets/fonts/Graphik-Bold.eot');
}
@font-face {
 font-family: 'Graphik';
 font-weight: 400;
 src: url('../assets/fonts/Graphik-Bold.woff') format('woff'),
 url('../assets/fonts/Graphik-Bold.svg#Graphik-Bold') format('svg');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 100;
  src: url('../assets/fonts/Graphik-Extralight.eot');
 }
@font-face {
  font-family: 'Graphik';
  font-weight: 100;
  src: url('../assets/fonts/Graphik-Extralight.woff') format('woff'),
  url('../assets/fonts/Graphik-Extralight.svg#Graphik-Extralight') format('svg');
 }

 @font-face {
   font-family: 'Graphik';
   font-weight: 200;
   src: url('../assets/fonts/Graphik-Light.eot');
  }
 @font-face {
   font-family: 'Graphik';
   font-weight: 200;
   src: url('../assets/fonts/Graphik-Light.woff') format('woff'),
   url('../assets/fonts/Graphik-Light.svg#Graphik-Light') format('svg');
  }

@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  src: url('../assets/fonts/Graphik-Regular.eot');
 }
@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  src: url('../assets/fonts/Graphik-Regular.woff') format('woff'),
  url('../assets/fonts/Graphik-Regular.svg#Graphik-Regular') format('svg');
 }

 @font-face {
   font-family: 'GraphikItalic';
   font-style: italic;
   src: url('../assets/fonts/Graphik-RegularItalic.eot');
  }
 @font-face {
   font-family: 'GraphikItalic';
   font-style: italic;
   src: url('../assets/fonts/Graphik-RegularItalic.woff') format('woff'),
   url('../assets/fonts/Graphik-RegularItalic.svg#Graphik-RegularItalic') format('svg');
  }
